* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  padding: 15px 40px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: azure;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #00d4ff;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #00d4ff, #0077ff);
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #0077ff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.hero button:hover {
  background-color: #f4f4f4;
}

.servicos h2 {
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translate(-5px);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1e1e2f;
  color: white;
  margin-top: 40px;
}

/* TABLET E CELULAR - 768PX */
@media (max-width: 768px) {
  /* header vira coluna */
  header {
    flex-direction: column;
    gap: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
